.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.container_text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    stroke: var(--primary);
    width: 24px;
    height: 24px;
}
