.container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--white);
    transition: background-color var(--transition);
}

.btn:hover {
    background-color: var(--secondary);
}