.address {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 4px;
}

.arrow_icon {
    stroke: var(--secondary-text);
}

.color_new {
    color: var(--white);
}

.stroke_new {
    stroke: var(--white);
}