.container_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-bottom: 32px;
}

.container_phone {
    /* Styles for react-international-phone */
    --react-international-phone-height: 41px;
    --react-international-phone-font-size: 20px;
    --react-international-phone-text-color: black;
    --react-international-phone-border-color: var(--stroke);
    --react-international-phone-border-radius: 15px;
}

.btn {
    margin-bottom: 24px;
    transition: background-color var(--transition) opacity var(--transition);
}

.btn:hover {
    background-color: var(--primary);
    opacity: 0.5;
}
