.container_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-bottom: 32px;
}

.btn {
    margin-bottom: 24px;
    transition: background-color var(--transition) opacity var(--transition);
}

.btn:hover {
    background-color: var(--primary);
    opacity: 0.5;
}