.form {
    width: 100%;
    margin-top: 32px;
}

.btn {
    margin: 24px 0;
    transition: background-color var(--transition) opacity var(--transition);
}

.btn:hover {
    background-color: var(--primary);
    opacity: 0.5;
}