.section {
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid var(--stroke);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.line {
    position: absolute;
    top: 62px;
    left: -5px;
    width: 55px;
    transform: rotate(-90deg);
    background-color: var(--primary);
    height: 2px;
}
