.container {
    max-width: 768px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    margin: 0 auto;
}

.container_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 24px;
}

.container_route {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--stroke);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.line {
    position: absolute;
    top: 50px;
    left: -20px;
    width: 55px;
    transform: rotate(-90deg);
    background-color: var(--primary);
    height: 2px;
}
