.container {
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0 4px 2px 0 rgba(16, 24, 40, 0.08);
    transition:
        box-shadow var(--transition),
        transform var(--transition);
}

.container:hover {
    box-shadow: 0 6px 0 0 rgba(16, 24, 40, 0.15);
}

.container:active,
.container:focus {
    box-shadow: 0 6px 0 0 rgba(16, 24, 40, 0.15);
    transform: scale(0.95);
}

.address_status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_info {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.container_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--secondary);
    border-radius: 10px;
}

.parcel_icon {
    fill: var(--primary);
}

.name_price {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    margin-left: 16px;
    margin-right: auto;
}

.price {
    display: flex;
    align-items: center;
}

.arrow2right_icon {
    position: absolute;
    right: -10px;
    stroke: var(--primary-text);
}

.hgryvnia {
    stroke: var(--secondary-text);
    stroke-width: 2;
}

.wrap_text {
    width: calc(var(--cart-ride-width) - 100px);
}

.name {
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
