.container {
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: var(--shadow);
}

.address_status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.address {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 4px;
}

.arrow_icon {
    stroke: var(--secondary-text);
}

.product_info {
    position: relative;
    display: flex;
    align-items: center;
}

.container_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--secondary);
    border-radius: 10px;
}

.parcel_icon {
    fill: var(--primary);
}

.wrap_text {
    width: calc(var(--cart-ride-width) - 100px);
}

.name_price {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    margin-left: 16px;
    margin-right: auto;
}

.arrow2right_icon {
    position: absolute;
    right: -10px;
    stroke: var(--primary-text);
}

.name {
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.price {
    display: flex;
    align-items: center;
}

.icon_dot {
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
}

.hgryvnia {
    stroke: var(--secondary-text);
    stroke-width: 2;
}