.container {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(768px - 32px);
    margin: 0 auto 24px;
    padding: 16px 16px 0;
}

.but_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text {
    font: var(--display-font-bold);
    font-weight: 600;
}

.container_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid var(--secondary);
    box-shadow: 0 0 0 4px #e7ecfa;
    overflow: hidden;
}

.img {
    scale: 120%;
}
