.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    margin: 0 auto 24px auto;
    padding: 16px 16px 0 16px;
}
.but_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text {
    font: var(--display_font_bold);
    font-weight: 600;
}
