.container {
    max-width: 768px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 16px;
    margin: 32px auto 0;
}

.iconTitleWrapper {
    margin-bottom: 16px;
}

