.container {
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    transition: box-shadow var(--transition), transform var(--transition);
}

.container:hover {
    box-shadow: 0 0 20px 0 rgba(16, 24, 40, 0.15);
}

.container:active,
.container:focus {
    box-shadow: 4px 4px 20px 4px rgba(16, 24, 40, 0.08);
    transform: scale(0.95);
}

.address_status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.address {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 4px;
}

.arrow_icon {
    stroke: var(--secondary-text);
}

.product_info {
    position: relative;
    display: flex;
    align-items: center;
}

.container_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--secondary);
    border-radius: 10px;
}

.parcel_icon {
    fill: var(--primary);
}

.name_price {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    margin-left: 16px;
    margin-right: auto;
}

.price {
    display: flex;
    align-items: center;
}

.arrow2right_icon {
    position: absolute;
    right: -10px;
    stroke: var(--primary-text);
}

.hgryvnia {
    stroke: var(--secondary-text);
    stroke-width: 2;
}