.wrap_text {
    display: flex;
    align-items: end;
    width: calc(var(--cart-ride-width));
}

.text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expanded {
    -webkit-line-clamp: unset;
}

.moreButton {
    background: none;
    border: none;
    color: var(--primary);
    cursor: pointer;
}