.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.tab {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.submit {
    width: 100%;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.cancel {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.confirm {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.tab_size {
    width: 176px;
}

.submit_size {
    width: 100%;
}

.confirm_size {
    width: 160px;
}

.background_secondary {
    background-color: var(--secondary);
}

.background_white {
    background-color: var(--white);
}

.background_primary {
    background-color: var(--primary);
}

.background_red {
    background-color: var(--red-error);
}
