.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}


.tab_size {
     width: 176px;
}

.background_secondary {
    background-color: var(--secondary);
}

.background_white {
    background-color: var(--white);
}