$background: #fafafa;
$white: #ffffff;
$stroke: #e7e7e6;
$secondary_text: #989898;
$primary_text: #101828;

// Primary colors
$primary: #6377e2;
$secondary: #e7ecfa;

// Labels
$blue_label: #6377e2;
$green_success: #5bad77;
$yellow_warning: #e9bc7e;
$red_error: #e97e80;

// Fonts
$micro_demo_font_family: Micro Demo;
$micro_demo_font_color: #161618;

.title_font_bold {
    font-family: $micro_demo_font_family;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: $micro_demo_font_color;
}

.display_font_bold {
    font-family: $micro_demo_font_family;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    color: $micro_demo_font_color;
}

$urbanist_font_family: 'Urbanist', sans-serif;
$primary_font_color: #101828;

.headline1_bold {
    font-family: $urbanist_font_family;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: $primary_font_color;
}

.headline2_bold {
    font-family: $urbanist_font_family;
    font-size: 16px;
    font-weight: 700;
    color: $primary_font_color;
    line-height: 19.2px;
}

.headline3_bold {
    font-family: $urbanist_font_family;
    font-size: 14px;
    font-weight: 700;
    color: $primary_font_color;
    line-height: 20px;
}

.body1_font_bold {
    font-family: $urbanist_font_family;
    font-size: 18px;
    font-weight: 600;
    color: $primary_font_color;
    line-height: 21.6px;
}

.body2_font_bold {
    font-family: $urbanist_font_family;
    font-size: 16px;
    font-weight: 600;
    color: $primary_font_color;
    line-height: 19.2px;
}

.body3_font_bold {
    font-family: $urbanist_font_family;
    font-size: 16px;
    font-weight: 500;
    color: $primary_font_color;
    line-height: 19.2px;
}

.body4_font_bold {
    font-family: $urbanist_font_family;
    font-size: 14px;
    font-weight: 500;
    color: $primary_font_color;
    line-height: 16.8px;
}
