.container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
    margin-bottom: 24px;
}

.container_count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--red-error);
    color: var(--white);
}