.container {
    width: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(768px - 32px);
    margin: 0 auto 24px;
    padding: 16px 16px 0;
}

.but_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text {
    font: var(--display-font-bold);
    font-weight: 600;
}
