.content {
    position: relative;
    width: 100%;
    max-width: calc(768px - 32px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background: linear-gradient(0deg, #fafafa 0%, #fafafa 100%), #fafafa;
    z-index: var(--z-index-modal);
    margin: 0 auto;
}

.block_scroll {
    overflow: hidden;
}

.btn {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
